body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 40px;
    margin: 45px;
  }
  
  h3 {
    color: #0ff;
    font-size: 28px;
  }
  
  .custom-row {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .custom-img {
    border: 2px solid #0ff;
    border-radius: 10px;
  }
  
  p {
    text-align: justify;
  }
  
  /* Fentebb levő szöveg finomhangolás */
  .text-top {
    margin-top: 10px;
  }
  